body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 10px;
    background-color: #242424;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}


#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 100%;
    max-height: 80vh;
    border: 1px solid #fff;
}

#squareid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}
    
    #title {
    font-weight: bold;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.newGridBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #16a085;
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.colorPicker {
    max-width: 200px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #16a085;
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}