body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 10px;
    background-color: grey;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 100x;
    max-height: 3000px;
    border-color: black;
    border-style: double;
}

#squareid {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.newGridBtn {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}