body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 960px;
    max-height: 960px;
}

.newGridBtn {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}